# No requirements beyond what's in standard Python distribution.
coverage==5.3
Django==3.1
django-crispy-forms==1.9.2
django-environ==0.4.5
django-extensions==3.0.9
environ==1.0
gunicorn==20.0.4
requests==2.24.0
virtualenv==20.1.0
django-heroku==0.3.1