# No requirements beyond what's in standard Python distribution.
appdirs==1.4.4
asgiref==3.2.10
astroid==2.2.5
autopep8==1.5.4
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.1
common==0.1.2
coverage==5.3
decorator==4.4.2
distlib==0.3.1
Django==3.1
django-birthday==0.1.3
django-crispy-forms==1.9.2
django-environ==0.4.5
django-extensions==3.0.9
django-heroku==0.3.1
filelock==3.0.12
flake8==3.8.4
flake8-django==1.1.1
flake8-docstrings==1.5.0
freegames==2.3.1
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
numpy==1.17.4
Pillow==6.2.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.3.1
pyserial==3.5
python-decouple==3.3
pytz==2020.1
requests==2.25.0
rope==0.14.0
selenium==3.141.0
six==1.12.0
snowballstemmer==2.0.0
sqlparse==0.3.1
toml==0.10.1
tracer==0.3.2
typed-ast==1.4.0
urllib3==1.26.2
validators==0.18.1
virtualenv==20.1.0
wrapt==1.11.2
zipp==3.3.0